@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
      
    <ul class="nav navbar-nav navbar-right" >
        @*<li>

            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage", style = "font-size:15px !important" })
        </li>*@
        @*@if(Convert.ToInt16(Session["rolename"])==4)
        {
             <li >@Html.ActionLink("Rang Commander", "RangRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "font-size:15px !important" })</li>
        }
        else
        {
            
        }
    
       @{if (TempData["e"] == "true")
          {
             
           <li >@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "font-size:15px !important" })</li>
          }
         else
          {

          }
        }*@

        <li><a class="text-semibold" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}
