@model PagedList.IPagedList<BAV.Models.PersonalInfoMemberAddressBodyStructure>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Search";
    Layout = null;
}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleInputName2">এলাকা</label>

            @Html.TextBox("area", null, new { @class = "form-control" })

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group" id="as">
            <label for="exampleInputName2">প্লাটুনের নাম</label>

            @Html.TextBox("Platun", null, new { @class = "form-control" })

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleInputName2">সদস্য নং</label>

            @Html.TextBox("memberid", null, new { @class = "form-control" })

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleInputName2">মোবাইল</label>

            @Html.TextBox("mobile", null, new { @class = "form-control" })

        </div>
    </div>

</div>
<br />
<div class="table-responsive">
    <table class="table datatable-member-search table-bordered table-striped table-hover" id="Table">

        <tr>
            <th>নং</th>
            <th>প্লাটুনের নাম</th>
            <th>সদস্যের নাম</th>
            <th>জাতীয় পরিচয় পত্র নং</th>
            <th>সদস্য নাম্বার</th>
            <th>এলাকা</th>
            <th>মোবাইল</th>
            <th><input type="checkbox" id="ckbCheckAll" /></th>
        </tr>

        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
    {
            <tr>
                <td>@item.Index</td>
                <td>@item.Data.planame</td>
                <td>@item.Data.pi.BanglaName</td>
                <td>@item.Data.pi.NID</td>
                <td>@item.Data.m.IDCardNo</td>
                <td>@item.Data.a.PresAddress</td>
                <td>@item.Data.pi.mobile</td>
                <td>
                    <input type="checkbox" value="@item.Data.pi.Id" name="ids" class="checkbox" />
                </td>
            </tr>
    }

    </table>
</div>

<script type="text/javaScript">


    $("#ckbCheckAll").change(function () {  //"select all" change

        var status = this.checked; // "select all" checked status
        $('.checkbox').each(function () { //iterate all listed checkbox items
            this.checked = status; //change ".checkbox" checked status
        });
        $('#s').prop('disabled', !$('.checkbox:checked').length);
    });

    $('.checkbox').change(function () { //".checkbox" change
        $('#s').prop('disabled', !$('.checkbox:checked').length);
        //uncheck "select all", if one of the listed checkbox item is unchecked
        if (this.checked == false) { //if this item is unchecked
            $("#ckbCheckAll")[0].checked = false; //change "select all" checked status to false
        }

        //check "select all" if all checkbox items are checked
        if ($('.checkbox:checked').length == $('.checkbox').length) {
            $("#ckbCheckAll")[0].checked = true; //change "select all" checked status to true
        }
    });
</script>

    <script type="text/javascript">
        $('#area').keyup(function (event) {
            var searchKey = $(this).val().toLowerCase();
            $("#Table tr td:nth-child(6)").each(function () {
                var cellText = $(this).text().toLowerCase();
                if (cellText.indexOf(searchKey) >= 0) {
                    $(this).parent().show();
                }
                else {
                    $(this).parent().hide();
                }
            });
        });
        $('#memberid').keyup(function (event) {
            var searchKey = $(this).val().toLowerCase();
            $("#Table tr td:nth-child(5)").each(function () {
                var cellText = $(this).text().toLowerCase();
                if (cellText.indexOf(searchKey) >= 0) {
                    $(this).parent().show();
                }
                else {
                    $(this).parent().hide();
                }
            });
        });
        $('#Platun').keyup(function (event) {
            var searchKey = $(this).val().toLowerCase();
            $("#Table tr td:nth-child(2)").each(function () {
                var cellText = $(this).text().toLowerCase();
                if (cellText.indexOf(searchKey) >= 0) {
                    $(this).parent().show();
                }
                else {
                    $(this).parent().hide();
                }
            });
        });
        $('#mobile').keyup(function (event) {
            var searchKey = $(this).val().toLowerCase();
            $("#Table tr td:nth-child(7)").each(function () {
                var cellText = $(this).text().toLowerCase();
                if (cellText.indexOf(searchKey) >= 0) {
                    $(this).parent().show();
                }
                else {
                    $(this).parent().hide();
                }
            });
        });
    </script>



