@model BAV.Models.Tranning
@{
    ViewBag.Title = "TranningEdit";
    Layout = null;
}

<style>
    .ui-datepicker{
        z-index:999999!important;
    }
</style>

<link href="~/BanglaDate/css/style.css" type="text/css" rel="stylesheet" />

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header border-default">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">ট্রেনিং এডিট</h4>
        </div>

        <div class="modal-body">

          @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                <div class="row">

                    <div class="col-md-12">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.HiddenFor(model => model.Id)
                        </div>



                        <div class="form-group">
                            প্রশিক্ষণ নাম

                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })


                        </div>

                        <div class="form-group">
                            তারিখ

                            @Html.TextBoxFor(model => model.CreationDate, new { @class = "form-control", id = "sdate" })


                        </div>

                        <div class="form-group">
                            
                                <input type="submit" value="Update" class="btn btn-success" />
                           
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    $(function () {
                        $("#sdate").datepicker(
                            {
                                dateFormat: 'yy/mm/dd',
                                changeMonth: true,
                                changeYear: true,
                                yearRange: "-30:+30"
                            });

                    });



                </script>

            }

        </div>

        <div class="modal-footer border-default">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>

        </div>
    </div>
</div>





