
@model BAV.Models.Platun
@{
    ViewBag.Title = "InactivePlatun";
    Layout = null;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<link href="~/BanglaDate/css/Table.css" rel="stylesheet" />

<link href="~/fonts/fontstyle.css" rel="stylesheet" />


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header border-default">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">প্লাটুন এডিট</h4>
        </div>

        <div class="modal-body">

            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                <div class="row">

                    <div class="col-md-12">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.HiddenFor(model => model.Id)
                        </div>


                        <div class="form-group" style=" font-family: SolaimanLipi,Helvetica Neue, Helvetica, Arial, sans-serif;font-size:14px">
                            প্লাটুনের নাম <br />

                            @Html.TextBoxFor(model => model.PlatuneName, new { @class = "form-control", style = "font-family: SolaimanLipi,Helvetica Neue, Helvetica, Arial, sans-serif;font-size:14px" })


                        </div>

                        <div class="form-group">
                            থানা

                            @Html.DropDownListFor(model => model.SubDistrcId, ViewBag.presSubdistrics as IEnumerable<SelectListItem>, "সিলেক্ট", new { @class = "form-control input-sm", id = "presubdis", style = "font-size: 15px;font-family: SolaimanLipi,Helvetica Neue, Helvetica, Arial, sans-serif;" })

                        </div>



                        <div class="form-group text-center">
                           
                                <input type="submit" value="Update" class="btn btn-success" />
                            
                        </div>

                    </div>
                </div>
            }

        </div>

        <div class="modal-footer border-default">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>

        </div>
    </div>
</div>

