@model List<BAV.Models.eve>

@{
    ViewBag.Title = "MemberList";
    Layout = null;
}
<legend class="text-bold">ইভেন্টে অংশগ্রহণের তথ্য</legend>

<div class="row">

    <div class="col-md-12">
        <table class="table table-bordered">
            <tr style="background-color:gray">

                <th>নং</th>
                <th>ইভেন্টের নাম</th>
                <th>কাজের ধরণ</th>
                <th>মোট কাজের পরিমাণ</th>
               
            </tr>

            @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                <tr>
                    <td>@item.Index</td>
                    <td>@item.Data.even.EventName</td>
                    @{if(item.Data.EventMember.workfor=="m")
                      {
                           <td>Monthly</td>
                      }
                      else if (item.Data.EventMember.workfor == "h" )
                      {
                           <td>Hourly</td>
                      }
                      else if (item.Data.EventMember.workfor == "c" )
                      {
                         <td>Contact</td> 
                      }
                      else if (item.Data.EventMember.workfor == null)
                      {
                           <td></td>
                      }
                    }
                   @{
                     if(item.Data.EventMember.IsActive==true)
                     { 
                         
                         <td>Ongoing</td> }
                     else
                     {
                         if (item.Data.month != 0 && item.Data.day != 0)
                         {
                            <td>@item.Data.month month and @item.Data.day days</td>
                         }
                         else
                         {
                           <td>@item.Data.day days</td>  
                         }
                         
                     }

}
                 
               

                </tr>
            }

        </table>

    </div>

</div>
