@model PagedList.IPagedList<BAV.Models.PersonalInfoMemberAddressBodyStructure>
@using PagedList.Mvc;
@{
    ViewBag.Title = "PlatunChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />


<div class="panel panel-white">

    <div class="panel-heading">
        <h3 class="panel-title">প্লাটুন পরিবর্তন</h3>
    </div>

   @using (Html.BeginForm("PlatunChange", "Member", FormMethod.Post, new { @class = "form-inline" }))
     {
           <div class="panel-body">

            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <div class="form-group">
                <label for="exampleInputName2">প্লাটুনের নাম</label>
                @Html.DropDownList("platunid", ViewBag.platunlist as IEnumerable<SelectListItem>, "সিলেক্ট", new { @class = "form-control", required = "true" })
            </div>

             <input type="submit" id="s" value="অর্ন্তভুক্ত করা" onclick="return confirm('Are you sure you want to Save?')" disabled="disabled" class="btn btn-primary">

             <p style="text-align:center;color:red">@TempData["error"]</p>

             <hr />
               <div class="row">
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="exampleInputName2">এলাকা</label>

                           @Html.TextBox("area", null, new { @class = "form-control" })

                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="exampleInputName2">প্লাটুনের নাম </label>

                           @Html.DropDownList("Platun", ViewBag.platunlist as IEnumerable<SelectListItem>, "সিলেক্ট", new { @class = "form-control" })

                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="exampleInputName2">সদস্য নং</label>

                           @Html.TextBox("memberid", null, new { @class = "form-control" })

                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="exampleInputName2">মোবাইল</label>

                           @Html.TextBox("mobile", null, new { @class = "form-control" })

                       </div>
                   </div>

               </div>

             </div>
             <div class="table-responsive">
              <table class="table datatable-member-search table-bordered table-striped table-hover" id="Table">
            <tr>
                <th>নং</th>
                <th>প্লাটুনের নাম</th>
                <th>সদস্যের নাম</th>
                <th>জাতীয় পরিচয় পত্র নং</th>
                <th>সদস্য নাম্বার</th>
                <th>এলাকা</th>
                <th>মোবাইল</th>
                <th><input type="checkbox" id="ckbCheckAll" /></th>
            </tr>

            @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
        {
                <tr>
                    <td>@item.Index</td>
                    <td>@item.Data.planame</td>
                    <td>@item.Data.pi.BanglaName</td>
                    <td>@item.Data.pi.NID</td>
                    <td>@item.Data.m.IDCardNo</td>
                    <td>@item.Data.a.PresAddress</td>
                    <td>@item.Data.pi.mobile</td>
                    <td>
                        <input type="checkbox" value="@item.Data.pi.Id" name="ids" class="checkbox" />
                    </td>
                    <td hidden>@item.Data.pi.platunId</td>
                </tr>
        }

        </table>
             </div>

     }

</div>


@section Scripts {

   
<script type="text/javaScript">
    $(function () {
        $("#ckbCheckAll").click(function () {
            $(".checkbox").prop('checked', $(this).prop('checked'));
            $('#s').prop('disabled', !$('.checkbox:checked').length);
        });
        $('.checkbox').click(function () {

            $('#s').prop('disabled', !$('.checkbox:checked').length);

        });
    });
</script>

<script type="text/javascript">
    $('#area').keyup(function (event) {
        var searchKey = $(this).val().toLowerCase();
        $("#Table tr td:nth-child(6)").each(function () {
            var cellText = $(this).text().toLowerCase();
            if (cellText.indexOf(searchKey) >= 0) {
                $(this).parent().show();
            }
            else {
                $(this).parent().hide();
            }
        });
    });
    $('#memberid').keyup(function (event) {
        var searchKey = $(this).val().toLowerCase();
        $("#Table tr td:nth-child(5)").each(function () {
            var cellText = $(this).text().toLowerCase();
            if (cellText.indexOf(searchKey) >= 0) {
                $(this).parent().show();
            }
            else {
                $(this).parent().hide();
            }
        });
    });
   
    $('#Platun').change(function (event) {

        var searchKey = $(this).val();
        $("#Table tr td:nth-child(9)").each(function () {
            var cellText = $(this).text().toLowerCase();
            if (cellText.indexOf(searchKey) >= 0) {
                $(this).parent().show();
            }
            else {
                $(this).parent().hide();
            }
        });
    });
    $('#mobile').keyup(function (event) {
        var searchKey = $(this).val().toLowerCase();
        $("#Table tr td:nth-child(7)").each(function () {
            var cellText = $(this).text().toLowerCase();
            if (cellText.indexOf(searchKey) >= 0) {
                $(this).parent().show();
            }
            else {
                $(this).parent().hide();
            }
        });
    });
</script>



}



